# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Entornos virtuales
env/
venv/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Datos pesados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs y archivos temporales
.idea/
.vscode/
*.swp
*.swo

# Archivos sensibles
conf/credentials.yaml
*.pem
*.key

# Permitir CSV procesados en el repo
!data/processed/*.csv

# Permitir CSV procesados en el repo
!data/processed/*.csv
